h5 {
    text-decoration: underline;
    font-size: 1.3rem;
}

.faq-wrapper {
    width: 70%;
    margin: 0 auto;
}

.collapsible {
    background-color: #1f1f1f;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}