<div class="faq-wrapper">
  <div class="row">

    <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">closed_caption</i>How do I turn on subtitles?</div>
        <div class="collapsible-body"><p>Great question. From the video player, click on the settings button. It should look like a gear icon. Then, click on subtitles and click on "English SRT". Voila!</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">theaters</i>How do I fix poor image quality or buffering?</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">add_circle</i>How do I request new movies or shows?</div>
        <div class="collapsible-body"><p>You can either log in <span style="text-decoration: underline; cursor: pointer" (click)="goToLogin();">here</span> 
          and submit a request from the <span style="text-decoration: underline; cursor: pointer" (click)="goToRequests();">"Requests"</span> page or just contact me directly.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">help</i>Anything else I should know?</div>
        <div class="collapsible-body"><p>My computer is set to automatically shut off at 1am every day, if it's not already turned off. 
          It will check if anyone is watching anything first. If something is being played, it will wait until nothing at all is being played anymore.
          If you want to keep watching, just turn the computer back on as you normally would from the home/status page.
        </p></div>
      </li>
    </ul>

  </div>
  
</div>
