.requests-wrapper {
    width: 70%;
    margin: 0 auto;
}

.row {
    color: #fff !important;
}

i {
    color: grey !important;
}

i.active, i.tiny, .admin-msg {
    color: #FF9625 !important;
}

#submit-request {
    margin-left: 3rem;
}

i.tiny {
    padding-right: 5px;
    vertical-align: middle;
}

a {
    cursor: pointer;
}

.collection-item:hover {
    background-color: rgb(51, 50, 50) !important;
}

.collection-item .btn {
    background-color: inherit !important;
}

.secondary-content i, .dropdown-content li > a, .dropdown-content li > span {
    color: #FFF;
}

.delete { color: red !important; }

.modal-comments { color: #000 !important; }