<!-- <div class="activity-wrap">
  <md-list>
    <h3 md-subheader>Currently Watching</h3>
    <md-divider aria-orientation="horizontal" role="separator" class="mat-divider"></md-divider>
    <md-list-item *ngFor="let current of currentResults">
      <h4 md-line>{{ current._title }}</h4>
      <p md-line> {{ current.User._title }} - {{ current.Player._device }} </p>
    </md-list-item>
    <h3 md-subheader>Previously Watched</h3>
    <md-divider aria-orientation="horizontal" role="separator" class="mat-divider"></md-divider>
    <md-list-item class="list-item" *ngFor="let previous of previousResults">
      <md-icon md-list-icon>folder</md-icon>
      <!--<img src="../assets/images/{{previous.USER_ID}}.jpg" class="thumbnail" />-
      <h4 md-line>{{ previous.MEDIA_CONTENT }}</h4>
      <p md-line> {{ previous.USER_ID }} - {{ previous.TIMESTAMP }} </p>
    </md-list-item>
  </md-list>
</div> -->