<ul class="collection with-header" id="list-activity">
  <li class="collection-header"><h4>Currently Watching</h4></li>
  <li class="collection-item avatar" *ngFor="let current of currentResults">
    <img src="../assets/images/{{ current.User._title }}.jpg" class="circle">
    <span class="title">{{ current._title }}</span>
    <p>{{ current.User._title }} - {{ current.Player._device }}</p>
  </li>
  <li class="collection-header"><h4>Previously Watched</h4></li>
  <a class="nav-link" routerLink="/" routerLinkActive="active">
    <li class="collection-item avatar" *ngFor="let previous of previousResults | slice:0:lazy; let i=index" 
      infiniteScroll 
      [infiniteScrollDistance]="1" 
      [infiniteScrollThrottle]="300" 
      (scrolled)="onScroll()">
        <img src="../assets/images/{{ previous.USER_ID }}.jpg" class="circle">
        <span class="title">{{ previous.MEDIA_CONTENT }}</span>
        <p>{{ previous.USER_ID }} - {{ previous.TIMESTAMP }}</p>
        <span class="secondary-content"><i class="material-icons">arrow_forward</i></span>
    </li>
  </a>
</ul>
