<ul class="collection with-header" id="list-activity">
  <li class="collection-header"><h5>Currently Watching</h5></li>
  <li class="collection-item avatar" *ngFor="let current of currentResults">
    <img src="./assets/images/{{ current.User.title }}.jpg" class="circle">
    <span class="title"><span *ngIf="current.type == 'episode'">{{ current.grandparentTitle }} - </span>{{ current.title }}</span>
    <p>{{ current.User.title }} - {{ current.Player.device }}</p>
  </li>
  <li class="collection-header"><h5>Previously Watched</h5></li>
  <a class="nav-link" style="cursor: pointer;" *ngFor="let previous of previousResults | slice:0; let i=index" 
    (click)="navigateTo(previous.TYPE, previous.USER_ID, previous.MEDIA_CONTENT, previous.SHOW_TITLE, previous.SEASON, previous.EPISODE_NUM)"
    routerLinkActive="active">
    <li class="collection-item avatar">
        <img src="./assets/images/{{ previous.USER_ID }}.jpg" class="circle">
        <span class="title">{{ previous.MEDIA_CONTENT }}</span>
        <p>{{ previous.USER_ID }} - {{ previous.TIMESTAMP | dateFormat | date:'MM/dd/yyyy hh:mma' : 'UTC' }}</p>
        <span class="secondary-content"><i class="material-icons">arrow_forward</i></span>
    </li>
  </a>
  <button class="waves-effect waves-light btn" style="margin-bottom: 100px;" (click)="loadMore()">Load more...</button>
</ul>
