<div class="activity-dtl-wrap">
  <ul class="collection" style="border: none;">
    <li class="collection-item avatar">
      <img src="./assets/images/{{name}}.jpg" alt="" class="circle">
      <span class="title"><h5>{{dtls}}</h5></span>
    </li>
  </ul>

  <ul class="omdb-content">
    <li>{{genre}}</li>
    <li>{{plot}}</li>
  </ul>
  <div class="row" *ngIf="omdbRatings[0] != undefined">
    <div class="col s5" (click)='goToImdb()'>
      <img src="./assets/images/imdb.png" alt="" class="imdb rating-icon">
      <span class="omdb-rating imdb">{{omdbRatings[0]}}</span>
    </div>
    <div class="col s5" *ngIf="omdbRatings[1] != undefined">
      <img src="./assets/images/rottentomatoes.png" alt="" class="rating-icon">
      <span class="omdb-rating">{{omdbRatings[1]}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m5" style="padding-left: 15px;">
        <div class=""> <span class="label label-info">{{stars == undefined ? "Not yet rated. Tap to rate." : "You rated " + stars + " out of 10"}}</span>
          <star-rating-comp [starType]="'svg'" 
            [hoverEnabled]="true" 
            (onClick)="updateRating($event, false)" 
            (onRatingChange)="onRatingChange($event)" 
            (onHoverRatingChange)="onHoverRatingChange($event)" 
            [numOfStars]="10"
            [size]="'large'"
            [rating]="stars">
          </star-rating-comp>
<!--          <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
          <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>          -->
        </div>
    </div>
  </div>

  <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" #userComments>{{usercomments}}</textarea>
        <label for="textarea1" class="text-area-label">Review</label>
        <a class='waves-effect waves-light btn' id='submit' (click)="updateRating($event, true)"><i class='material-icons right' style='color:white !important;'>comment</i>Submit</a>
      </div>
    </div>
  </form>
  </div>

  <!-- Modal Window -->
  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <h5> {{ modalTitle }}</h5>
      <p> {{modalMsg}} </p>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
      <a class="waves-effect waves-green btn-flat" *ngIf="!isLoggedIn" (click)="login()">Sign In</a>
    </div>
  </div>

</div>