.activity-dtl-wrap {
    width: 80%;
    margin: 0 auto;
}

.label, .label-info {
    color: #FF9625;
}

textarea {
    color: #fff;
}

.rating-icon {
    height: 50px;
    width: auto;
    vertical-align: middle;
    padding-right: 5px;
}

.omdb-content li {
    color: #FF9625 !important;
}

.omdb-rating {
    color: #fff !important;
}