/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    background: #1F1F1F;
}

html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
    background: #1F1F1F !important;
}

button {
    background: #FF9625 !important;
    text-transform: uppercase;
    color: #fff !important;
}