/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background: #1F1F1F;
}

h1, h2, h3, h4, h5, p, input[type=text], input[type=password] {
    color: #fff;
}

html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
    background: #1F1F1F !important;
}

button, .btn {
    background: #FF9625 !important;
    text-transform: uppercase;
    color: #fff !important;
}

ul { border: none !important; }

ul li {
    background-color: #1F1F1F !important;
    border: none !important;
    color: #fff !important;
}

i, .title {
    color: #FF9625 !important;
}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: #FF9625 !important;
    box-shadow: 0 1px 0 0 #FF9625 !important;
}

label {
    color: #FF9625 !important
}

input[type=text]:focus, input[type=password]:focus {
    border-bottom: #FF9625 !important;
    box-shadow: 0 1px 0 0 #FF9625 !important;
    color: #fff;
}

.completed-Y {
	text-decoration: line-through;
}

.admin-msg {
	padding-top: 10px !important;
}

.indeterminate {background: #f9d1a9 !important;}
.progress {background: #FF9625 !important; visibility: hidden;}

.rating {
    justify-content: left !important;
    align-items: left !important;
}

.modal-content h5, .modal-content p {
    color: #000;
}

/*RESPONSIVE CODE*/
@media screen and (max-width: 550px) {

    #list-activity, .activity-dtl-wrap, .requests-wrapper, .modal, .account-wrap, .acct-details-wrap {
        width: 100% !important;
    }
    
}